<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <link rel="icon" href="/img/favicon.ico">
    <link href="/styles/output.css" rel="stylesheet">
    <link href="/styles/custom.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.bootstrap5.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
</head>

<body>
    <header id="header" class="bg-white shadow">
    </header>
    <main>
        <!-- component -->
        <div id="search-bar" class="container mx-auto px-4 sm:px-8 text-center">
            <h1 class="text-3xl font-bold pt-8 pb-4">Inventario</h1>
            <div class="flex items-center justify-between p-4">
                <h2 class="text-2xl font-bold">Stock</h2>
                <div class="flex items-center gap-4">
                    <a href="/entries/">
                        <button id="entries-btn"
                            class="flex bg-blue-500 text-white hover:bg-blue-700 hover:cursor-pointer px-4 py-2 rounded-3xl">
                            Entradas
                        </button>
                    </a>
                    <a href="/exits/">
                        <button id="exits-btn"
                            class="flex bg-blue-500 text-white hover:bg-blue-700 hover:cursor-pointer px-4 py-2 rounded-3xl">
                            Salidas
                        </button>
                    </a>
                </div>
            </div>
            <div id="add-product-modal"
                class="fixed left-0 top-0 w-[100vw] h-[100vh] bg-gray-400/70 z-50 justify-center items-start overflow-y-auto hidden">
                <div tabindex="-1" class="bg-white rounded-lg shadow-sm max-w-md w-full p-6 mt-12 mb-12">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between pb-4 border-b border-gray-200">
                        <h3 class="text-lg font-semibold text-gray-900">
                            Crear nuevo producto
                        </h3>
                        <button id="close-modal-add-product-btn" type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex justify-center items-center">
                            <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Cerrar modal</span>
                        </button>
                    </div>
                    <!-- Modal body -->
                    <form class="pt-4" id="add-product-form">
                        <div class="mb-4">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                            <input type="text" name="name" id="name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Nombre del producto" required autocomplete="off">
                        </div>
                        <div class="mb-4">
                            <label for="id_category"
                                class="block mb-2 text-sm font-medium text-gray-900">Categoría</label>
                            <div class="relative">
                                <select id="id_category" name="id_category" placeholder="Selecciona una categoría">
                                    <option value="" hidden>Selecciona una categoría</option>
                                </select>
                                <div
                                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-300">
                                    <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2"
                                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="presentation"
                                class="block mb-2 text-sm font-medium text-gray-900">Presentación</label>
                            <input type="text" name="presentation" id="presentation"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Ej: Botella 1L" required autocomplete="off">
                        </div>
                        <div class="mb-4">
                            <label for="quantity" class="block mb-2 text-sm font-medium text-gray-900">Cantidad</label>
                            <input type="number" name="quantity" id="quantity"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Cantidad" min="0" required autocomplete="off">
                        </div>
                        <div class="mb-4">
                            <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Precio</label>
                            <input type="number" name="price" id="price"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Precio" min="0" step="0.01" required autocomplete="off">
                        </div>
                        <div class="mb-4">
                            <label for="quantityAlert" class="block mb-2 text-sm font-medium text-gray-900">Alerta de
                                cantidad</label>
                            <input type="number" name="quantityAlert" id="quantityAlert"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                placeholder="Cantidad mínima para alerta" min="0" autocomplete="off">
                        </div>
                        <div class="mb-4">
                            <label for="description"
                                class="block mb-2 text-sm font-medium text-gray-900">Descripción</label>
                            <textarea id="description" name="description" rows="3"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                                placeholder="Descripción del producto"></textarea>
                        </div>
                        <button id="add-product-btn" type="submit"
                            class="w-full mt-2 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            <svg class="me-1 -ms-1 w-5 h-5 inline" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Agregar producto
                        </button>
                    </form>
                </div>
            </div>
            <div id="order-product-modal"
                class="fixed left-0 top-0 w-[100vw] h-[100vh] bg-gray-400/70 z-50 justify-center items-start overflow-y-auto hidden">
                <div tabindex="-1" class="bg-white rounded-lg shadow-sm max-w-md w-full p-6 mt-12 mb-12">
                    <div class="flex items-center justify-between pb-4 border-b border-gray-200">
                        <h3 class="text-lg font-semibold text-gray-900">
                            Ordenar productos
                        </h3>
                        <button id="close-modal-order-btn" type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex justify-center items-center">
                            <span class="sr-only">Cerrar modal</span>
                            <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                        </button>
                    </div>
                    <form id="order-form" class="pt-4">
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Ordenar por:</label>
                            <select id="order-select"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5">
                                <option value="stock-asc">Stock (ascendente)</option>
                                <option value="stock-desc">Stock (descendente)</option>
                                <option value="name-asc">Nombre (A-Z)</option>
                                <option value="name-desc">Nombre (Z-A)</option>
                                <option value="category-asc">Categoría (A-Z)</option>
                                <option value="category-desc">Categoría (Z-A)</option>
                                <option value="price-asc">Precio (ascendente)</option>
                                <option value="price-desc">Precio (descendente)</option>
                            </select>
                        </div>
                        <button type="submit"
                            class="w-full mt-2 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                            Aplicar orden
                        </button>
                    </form>
                </div>
            </div>
            <div id="filter-product-modal"
                class="fixed left-0 top-0 w-[100vw] h-[100vh] bg-gray-400/70 z-50 justify-center items-start overflow-y-auto hidden">
                <div tabindex="-1" class="bg-white rounded-lg shadow-sm max-w-md w-full p-6 mt-12 mb-12">
                    <div class="flex items-center justify-between pb-4 border-b border-gray-200">
                        <h3 class="text-lg font-semibold text-gray-900">
                            Filtrar productos
                        </h3>
                        <button id="close-modal-filter-btn" type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex justify-center items-center">
                            <span class="sr-only">Cerrar modal</span>
                            <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                        </button>
                    </div>
                    <form id="filter-form" class="pt-4">
                        <!-- Stock -->
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Stock</label>
                            <div id="filter-stock-group" class="flex flex-col gap-3">
                                <label class="flex items-center cursor-pointer gap-3">
                                    <input type="radio" name="filter-stock" value="Alto"
                                        class="sr-only filter-stock-radio"><span
                                        class="relative w-12 h-6 flex items-center bg-gray-300 rounded-full transition-colors duration-300"><span
                                            class="dot absolute left-0 w-6 h-6 bg-white border border-gray-300 rounded-full transition-transform duration-300"></span></span>
                                    <span class="text-gray-900">Alto</span>
                                </label>
                                <label class="flex items-center cursor-pointer gap-3">
                                    <input type="radio" name="filter-stock" value="Medio"
                                        class="sr-only filter-stock-radio"><span
                                        class="relative w-12 h-6 flex items-center bg-gray-300 rounded-full transition-colors duration-300"><span
                                            class="dot absolute left-0 w-6 h-6 bg-white border border-gray-300 rounded-full transition-transform duration-300"></span></span>
                                    <span class="text-gray-900">Medio</span>
                                </label>
                                <label class="flex items-center cursor-pointer gap-3">
                                    <input type="radio" name="filter-stock" value="Bajo"
                                        class="sr-only filter-stock-radio"><span
                                        class="relative w-12 h-6 flex items-center bg-gray-300 rounded-full transition-colors duration-300"><span
                                            class="dot absolute left-0 w-6 h-6 bg-white border border-gray-300 rounded-full transition-transform duration-300"></span></span>
                                    <span class="text-gray-900">Bajo</span>
                                </label>
                            </div>
                        </div>
                        <!-- Categoría -->
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-medium text-gray-900">Categoría</label>
                            <div id="filter-category-group" class="flex flex-col gap-3">

                            </div>
                        </div>
                        <div class="flex gap-2 mt-4">
                            <button type="button" id="clear-filter-btn"
                                class="w-1/2 text-gray-700 bg-gray-200 hover:bg-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                Quitar filtro
                            </button>
                            <button type="submit" id="apply-filter-btn"
                                class="w-1/2 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                                Aplicar filtro
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="flex items-center justify-center p-4 space-x-4">
                <input type="text" id="search-input" placeholder="Buscar producto..."
                    class="bg-gray-100 rounded-3xl px-4 py-2 w-2/4" autocomplete="off">
                <button id="display-modal-add-product-btn"
                    class="flex bg-blue-500 text-white hover:bg-blue-700 hover:cursor-pointer px-4 py-2 rounded-3xl">
                    <svg width="30" height="26" viewBox="0 0 30 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="11" cy="13" r="11" fill="white" />
                        <line x1="11" y1="7" x2="11" y2="19" stroke="#1976d2" stroke-width="2" stroke-linecap="round" />
                        <line x1="5" y1="13" x2="17" y2="13" stroke="#1976d2" stroke-width="2" stroke-linecap="round" />
                    </svg>
                    Agregar Producto
                </button>
                <button id="order-btn"
                    class="flex bg-black text-white hover:bg-blue-700 hover:cursor-pointer px-4 py-2 rounded-3xl">
                    <svg width="24" height="26" viewBox="0 0 24 26" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="0,8 16,8 8,20" fill="white" />
                    </svg>
                    Ordenar
                </button>
                <button id="filter-btn"
                    class="flex bg-black text-white hover:bg-blue-700 hover:cursor-pointer px-4 py-2 rounded-3xl">
                    <svg width="24" height="26" viewBox="0 0 36 32" xmlns="http://www.w3.org/2000/svg">
                        <polygon points="2,6 26,6 16,18 16,26 12,26 12,18" fill="white" />
                    </svg>
                    Filtrar
                </button>
            </div>
        </div>
        <!-- end component -->
        <div class="container mx-auto px-4 sm:px-8">
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                        <thead>
                            <tr>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Producto
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Cant.
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Categoría
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Presentación
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Precio U.
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Stock
                                </th>
                            </tr>
                        </thead>
                        <tbody id="product-list">
                        </tbody>
                    </table>
                    <!-- <div
                        class="px-5 py-5 bg-white border-t border-gray-600 flex flex-col xs:flex-row items-center xs:justify-between">
                        <span class="text-sm xs:text-sm text-gray-900">
                            Pág 1 de 1
                        </span>
                        <div class="flex justify-between mt-2 xs:mt-0 w-full">
                            <button
                                class="text-sm bg-blue-500 hover:bg-blue-700 hover:cursor-pointer text-white font-semibold py-2 px-4 rounded-md">
                                Anterior
                            </button>
                            <button
                                class="text-sm bg-blue-500 hover:bg-blue-700 hover:cursor-pointer text-white font-semibold py-2 px-4 rounded-md">
                                Siguiente
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- <script src="/components/nav.js"></script> -->
    <script src="index.js"></script>
</body>

</html>